<aside class="admin-sidebar">
  <h2>Menu</h2>
  <ul>
    <li>
      <a href="/admin/dashboard">
        <span class="material-symbols-outlined">home</span>
        <span class="label">Dashboard</span>
      </a>
    </li>
    <li>
      <a href="/admin/create">
        <span class="material-symbols-outlined">add</span>
        <span class="label">Add Restaurant</span>
      </a>
    </li>
  </ul>
</aside>
