<!-- Navigation -->
<header class="navbar">
  <div class="navbar-wrapper">
    <div class="top-navbar" id="topNavbar">
      <div class="working-hours">
        Help? Tap to Chat<svg
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 24 24"
        >
          <path
            d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H7l-5 4V6c0-1.1.9-2 2-2zm2 4v2h12V8H6zm0 4v2h8v-2H6z"
          />
        </svg>
      </div>

      <button class="language-selector" aria-label="Select language">
        <span class="material-symbols-outlined" id="languageSelector"> language </span>
      </button>
    </div>

    <div class="bottom-navbar">
      <div class="bottom-navbar-wrapper">
        <div class="logo">
          <a href="/">bookeasy.online</a>
        </div>

        <ul class="navlinks">
          <li><a href="/whyus">Why Us</a></li>
          <li><a href="/services">Services</a></li>
          <li><a href="/policies">Pricing &#x26; Policies</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
