:root {
  /* Spacing */
  --space-xxs: 4px;
  --space-xs: 8px;
  --space-s: 12px;
  --space-m: 16px;
  --space-l: 24px;
  --space-xl: 32px;
  --space-xxl: 40px;
  --space-xxxl: 48px;
  --space-xxxxl: 56px;

  /* Max Widths */
  --content-max-width: 1200px;
  --sidebar-width: 300px;

  /* Grid Gaps */
  --grid-gap: var(--space-m);

  /* Heights */
  --header-height: 150px;
  --footer-height: 300px;

  /* Colors */
  --primary-bg: #F5F5DC; /* Background */
  --primary-color: #1C1C1C; /* Text */
  --accent-color: #8B0000; /* Accent */
  --secondary-color: #5f6368; /* Secondary Text */
  --highlight-color: #FFD700; /* Highlights */
  --third-color: #4b5320;; /* Earthy Olive Green */

  /* Font Sizes */
  --font-xxs: 0.75rem; /* Extra Extra Small */
  --font-xs: 0.875rem; /* Extra Small */
  --font-s: 1rem;      /* Small */
  --font-m: 1.125rem;  /* Medium */
  --font-l: 1.5rem;    /* Large */
  --font-xl: 2rem;     /* Extra Large */
  --font-xxl: 3rem;    /* Extra Extra Large */
  --font-xxxl: 4rem;    /* Extra Extra Extra Large */
}


*{
  box-sizing: border-box;
}
body{
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  font-size: var(--font-s);
  background-color: var(--primary-bg);
  
}
.grid-container{
  display: grid;
  grid-template-areas: 
  "navbar"
  "hours"
  "search"
  "scroll-container"
  "footer";
  grid-template-rows: var(--header-height) auto auto 1fr var(--footer-height);
  grid-template-columns: 1fr;
  min-height: 100vh;
  margin: 0 auto;
  gap: var(--grid-gap);
  max-width: var(--content-max-width);
  background-color: var(--primary-bg);
 }

 /* navbar styling */

  .navbar{
    grid-area: navbar;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-m) var(--space-xl);
    background-color: var(--primary-bg);
    margin-bottom: var(--space-xl);
  }
  .navbar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: var(--space-l);
  }
  .navbar a{
    text-decoration: none;
    font-family: 'Noto Serif JP', serif;
    color: var(--primary-color);
  }
  
  .navbar ul a{
    display: inline-block;
    padding: var(--space-s);
    font-size: var(--font-m);
    transition: transform 0.3s ease, color 0.3s ease;
  }
  .navbar ul a:hover{
    color:var(--accent-color);
    transform: translateY(-2px)
  }

  .navlinks li:last-child a{
    position: relative;
    transition: color 0.3s ease;
  }

  .navlinks li:last-child a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: var(--accent-color);
    transition: width 0.3s ease;
  }

 .navlinks li:last-child a:hover::after{
  width: 100%;
 
 }
  
  .logo a{
    font-family: 'Fredoka One', sans-serif;
    font-size: var(--font-xl);
    font-weight: normal;
    padding: var(--space-m);
    color:var(--accent-color);
    letter-spacing: 0.05em;
  }

  /* working hours styling */
 .working-hours{
  grid-area: hours;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: var(--space-xs);
  color:var(--secondary-color);
  margin-bottom: var(--space-xl);
  color:var(--third-color);
 }

 .search-container{
  grid-area: search;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--accent-color);
  padding: var(--space-xl) var(--space-l);
  margin-bottom: var(--space-xl);
  border-radius: var(--space-s);
 }

 .slogan{
  grid-row: 1;
  font-family: 'Quicksand', sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: var(--font-xxxl);
  font-style: normal;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: var(--space-s) var(--space-m);
  color: var(--highlight-color);
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.4); 
 }

 .search-widget{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-m);
  margin-bottom: var(--space-xxl);
 }
 .input-group{
  position: relative;
  display: flex;
  align-items: center;
  gap: var(--space-s);
 }

 .icon{
  position: absolute;
  left: var(--space-s);
  width: var(--space-l);
  height:var(--space-l);
  pointer-events: none;
 }
 .arrow-icon{
  position: absolute;
  right: var(--space-s);
  width: var(--space-l);
  height:var(--space-l);
  pointer-events: none;
 }

 .search-dropdown,
 .keyword-input{
  width: 100%;
  padding: var(--space-m) var(--space-xxl);
  border: 2px solid var(--highlight-color);
  border-radius: var(--space-s);
  background-color: var(--primary-bg);
  color: var(--secondary-color);
  appearance: none;
  font-family:  'Montserrat', serif;
  font-size: var(--font-s);
 }

 input::placeholder{
  color: var(--secondary-color);
  font-family: 'Montserrat', serif;
  font-size: var(--font-s);
 }
 .search-widget button{
  background-color: var(--highlight-color);
  color: var(--accent-color);
  font-family: 'Montserrat', serif;
  font-size: var(--font-s);
  font-weight: 700;
  padding: var(--space-m) var(--space-xxl);
  border: 2px solid var(--accent-color);
  border-radius: var(--space-l);
  cursor: pointer;
  transition: all 0.3s;
}

.search-widget button:hover{
background-color: var(--accent-color);
color: var(--highlight-color);
box-shadow: -4px 0px 8px var(--highlight-color), 4px 0px 8px var(--highlight-color);
transform: translateY(-2px);
}

/* scroll-container styling */


.scroll-container{
  grid-area: scroll-container;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-rows: 1fr auto;
  padding: var(--space-l) var(--space-m);
  background-color: var(--primary-bg);
  margin-bottom: var(--space-xl);
 }

 .scroll-container-top{
  grid-column: 2;
  grid-row: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--space-s);
  }

  .scroll-container-top h2{
  color: var(--primary-color);
  font-family: 'Noto Serif JP', serif;
  font-size: var(--font-xl);
  font-weight: 700;
  padding: var(--space-s) var(--space-m);

  }
  .scroll-container-top button{
   border-radius: var(--space-l);
   border: 2px solid var(--accent-color);
   background-color:var(--accent-color);
   color: var(--primary-bg);
   font-family: 'Noto Serif JP', serif;
   font-size: var(--font-s);
   font-weight: 700;
   padding: var(--space-s) var(--space-m);
   width: auto;
   cursor: pointer;
   transition: all 0.3s ease;
  }

  .scroll-container-top button:hover{
    background-color: var(--highlight-color);
    color: var(--accent-color);
    border: 2px solid var(--highlight-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
  }

  #prevBtn{
    grid-column: 1;
    grid-row: 2;
    justify-self: right;
    align-self: center;
  }
  #nextBtn{
    grid-column: 3;
    grid-row: 2;
    justify-self: left;
    align-self: center;
  }

  #prevBtn, 
  #nextBtn{
    background-color: var(--accent-color);
    color: var(--primary-bg);
    height: var(--space-xxxxl);
    width: var(--space-xxxxl);
    border-radius: var(--space-xl);
    border: 2px solid var(--accent-color);
    font-size: var(--font-l);
    font-weight: 400;
    padding: var(--space-s);
    cursor: pointer;
    transition: all 0.3s ease;
    flex-shrink: 0;
  }

  #prevBtn:hover, 
  #nextBtn:hover{
    background-color: var(--highlight-color);
    color:var(--accent-color) ;
    border: 2px solid var(--highlight-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
  }

  .restaurant-cards{
  box-sizing: border-box;
  margin: 0;
  padding: 0;  
  grid-column: 2;
  grid-row: 2;
  display: flex;
  gap: var(--space-l);
  padding: 0 var(--space-s);
  overflow-x: visible;
  overflow-y: visible;
  scroll-behavior: smooth;
}
  
  .card{
    position: relative;
    z-index: 1;
    width: 300px;
    height: auto;
    margin: 0 auto;
    border: 2px solid #ddd;
    border-radius: var(--space-l);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: visible;
    cursor: pointer;
    padding: var(--space-m);
  }
  .card img{
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: var(--space-s);
  }
  
  .card:hover{
    z-index: 10;
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15), 0 4px 8px rgba(0, 0, 0, 0.08);
  }
  .card h3{
    font-size: var(--font-m);
    font-family: 'Montserrat', serif;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding: var(--space-m);
    border-bottom: 2px solid #ddd;
    color: var(--accent-color);
  }
  
  .card .same-area,
  .card .same-category{
    text-decoration: none;
    color: inherit;
    font-size: inherit;
  }
  .card .area,
  .card .category{
    display: flex;
    align-items: center;
    padding: var(--space-xs) var(--space-m);
    color: var(--secondary-color);
  }
  
  .card .same-area:hover,
  .card .same-category:hover{
  text-decoration: underline;
  color: #0056b3;
  }

  .card .price{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', serif;
    font-size: var(--font-s);
    font-weight: 700;
    color:var(--highlight-color);
    background-color: var(--accent-color);
    padding: var(--space-s) var(--space-m);
    border-radius: var(--space-l);
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
  }

  .card .price:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  

 .site-footer{
  grid-area: footer;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color:var(--secondary-color);
  padding: var(--space-m) var(--space-xl);
  gap: var(--space-xl);
}

.contact-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-tracks: center;
  gap: var(--space-xxl)
}
.contact-info p{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-xs);
  cursor: pointer;
}

.contact-info p svg{
  vertical-align: middle;
  transition: transform 0.3s, fill 0.3s;
}

.contact-info p:hover svg{
  transform: scale(1.2);
  fill: var(--accent-color);
}
.social-media-icons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-s);
}
.social-media-icons a{
  position: relative;
  display: inline-block;
  transition: transform 0.3s, fill 0.3s;
}

.social-media-icons a:hover svg{
  transform: scale(1.2);
  fill: var(--accent-color);
}

.tooltip{
  position: absolute;
  bottom: calc(var(--space-xl));
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--accent-color);
  color: var(--primary-bg);
  padding: var(--space-xs) var(--space-s);
  border-radius: var(--space-xs);
  font-size: var(--font-xxs);
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.social-media-icons a:hover .tooltip{
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(-10px);
}

