body{
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  background-color: #F5F5DC;
}
.grid-container{
  display: grid;
  grid-template-areas: 
  "navbar"
  "hours"
  "search"
  "restaurants"
  "footer";
  grid-template-rows: auto auto auto 1fr auto;
  grid-template-columns: 1fr;
  min-height: 100vh;
 }

  /* styling */
  .navbar{
    grid-area: navbar;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  .navbar a{
    text-decoration: none;
    font-size: 1em;
    color:#1C1C1C;
    font-family: 'Noto Serif JP', serif;
    font-weight: 400;
  }
  .navbar ul{
    margin: 30px 100px 30px 0;
  }
  
  .navbar ul a{
    margin: 30px 30px 30px 0;
  }
  
  .logo a{
    font-family: 'Fredoka One', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    margin: 30px 0px 30px 100px;
    color:#8B0000;
    letter-spacing: 0.05em;
  }
 .working-hours{
  grid-area: hours;
  text-align: center;
  color:#465B32;
  padding: 1em;
  margin: 1em;
 }

 .search-container{
  grid-area: search;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #8B0000;
  height: 200px;
  padding: 15px;
 }

 .slogan{
  grid-row: 1;
  font-family: 'Quicksand', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 3rem;
  font-style: normal;
  display: flex;
 text-align: center;
 justify-content: center;
 align-items: center;
 color: #FFD700;
 text-shadow: 0 2px 3px rgba(0, 0, 0, 0.4); 
 margin:0;
 padding: 0;
 }

 .search-widget{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  margin: 0;
  padding: 0;
 }
 .search-widget input{
  padding: 15px 25px;
  border-radius: 8px;
  border: 1px solid #ddd; 
  background-color: #FAF3E0;
  border: none;
 }
 .search-widget button{
  background-color: #F5F5DC;
  color: #8B0000;
  padding: 15px 25px;
  border-radius: 8px;
  font-weight: bold;
  border: none;
 
}

.restaurants{
  grid-area: restaurants;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 1fr auto;
  gap: 10px;
 }

 .scroll-container-top{
  grid-row: 1;
  grid-column: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  .scroll-container-top h2{
    text-align: left;
    color: #1C1C1C;
    font-family: 'Noto Serif JP', serif;
    font-size: 1em;
    font-weight: 700;
  }
  .scroll-container-top button{
    align-content: end;
    margin: 0;
    padding: 0;
    width: 100px;
    height: auto;
    padding: 6px;
   border-radius: 8px;
   border: none;
   background-color: #ddd;
   color: #1C1C1C;
  }

  .scroll-container{
    grid-row: 2;
    grid-column: 2;
  }
 .site-footer{
  grid-area: footer;
  text-align: center;
  color:#5f6368;
  padding: 10px;
}

.restaurant-cards{
display: grid;
grid-template-columns: repeat(4,1fr);
grid-column: 2/ span 4;
grid-row: 1;
gap: 20px;}

.card{
  width: 300px;
  height: auto;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 1px solid #eee; 
}

.card img{
width: 100%;
height: 150px;
object-fit: cover;
}

.card:hover{
  transform: translateY(-10px);
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.2);
}
.card h3{
  font-size: inherit;
  font-family: 'Montserrat', serif;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 5px;
  padding-bottom: 10px;
  border-bottom: 2px solid #ddd;
  color: #8B0000;
}

.card .same-area,
.card .same-category{
  text-decoration: none;
  color: inherit;
}
.card .area,
.card .category{
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 10px;
  color: #5f6368;
}

.card .same-area:hover,
.card .same-category:hover{
text-decoration: underline;
color: #0056b3;
}

