<% title = 'Home | bookeasy.online' %>

<!-- Search Container -->
<section
  id="searchContainer"
  class="search-container"
  aria-label="Search Restaurants"
  style="grid-area: search"
>
  <h2 class="search-title">Looking for Something Delicious? Start Here!</h2>
  <div class="search-widget">
    <!-- Location Dropdown -->
    <div class="custom-dropdown" id="locationDropdown">
      <div class="dropdown-header" tabindex="0">
        <div class="header-wrapper">
          <span class="selected-text">Select Location</span>
          <span class="arrow">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" fill="#5f6368">
              <path
                d="M201.4 374.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 306.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"
              />
            </svg>
          </span>
        </div>
        <span class="clear-btn">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" fill="#5f6368">
            <path
              d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"
            />
          </svg>
        </span>
      </div>
      <ul class="dropdown-list"></ul>
    </div>

    <!-- Category Dropdown -->
    <div class="custom-dropdown" id="categoryDropdown">
      <div class="dropdown-header" tabindex="0">
        <div class="header-wrapper">
          <span class="selected-text">Select Category</span>
          <span class="arrow">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" fill="#5f6368">
              <path
                d="M201.4 374.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 306.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"
              />
            </svg>
          </span>
        </div>
        <span class="clear-btn">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" fill="#5f6368">
            <path
              d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"
            />
          </svg>
        </span>
      </div>
      <ul class="dropdown-list"></ul>
    </div>

    <!-- Keyword Search -->
    <div class="keyword-input-container" id="keywordInputContainer">
      <div class="input-field">
        <input
          type="text"
          class="keyword-input"
          id="inputKeyword"
          placeholder="Type a keyword..."
        />
      </div>
      <ul class="keyword-dropdown" id="keywordDropdown"></ul>
    </div>

    <button id="searchBtn">Search</button>
  </div>
</section>

<!-- Recently Viewed -->
<section
  id="scrollContainer"
  class="scroll-container"
  aria-label="Recently Viewed Restaurants"
  style="grid-area: restaurant-scroll"
>
  <div class="scroll-container-top">
    <h2>Recently Viewed Restaurants</h2>
    <a href="/restaurants" class="view-all-btn">View All</a>
  </div>
  <button id="prevBtn">&lt;</button>
  <div class="restaurant-cards" id="restaurantCards"></div>
  <button id="nextBtn">&gt;</button>
</section>

<script src="/js/highlight.js" defer></script>
<script src="/js/script.js" defer></script>
<%- include('partials/cta-restaurant-suggestion') %>
