<% title = 'Services | bookeasy.online' %>
<section class="services-we-offer">
  <h1>What We Offer</h1>
  <div class="services-cards-container">
    <div class="service-card">
      <img src="/images/services/reserved.png" alt="Restaurant Reservation" />
      <h3>Restaurant Reservation</h3>
    </div>
    <div class="service-card">
      <img src="/images/services/live-chat.png" alt="Live Chat" />
      <h3>Live Chat</h3>
    </div>
    <div class="service-card">
      <img src="/images/services/multilingual-support.png" alt="Multilingual Support" />
      <h3>Multilingual Support</h3>
    </div>
  </div>
</section>

<script src="/js/highlight.js" defer></script>
<%- include('partials/cta-start-exploring') %>
