:root {
  --primary-bg: #faf6f2;
  --primary-color: #683b2b;
  --accent-color: #ded1bd;
  --secondary-color: #5f6368;
  --highlight-color: #b08401;
  --green-color: #4b5320;
  --brand-green: #4b815d;
  --neutral-beige: #e3dcc3;
  --neutral-pink: #d49e8d;
  --darker-pink: #a67865;
  --ligther-beige: #eaddd7;
  --neutral-cream: #f7f1e7;
  --description-color: #6b4f3b;
  --charcoal-black: #2b2b2b;
  --background-white: #ffffff;
  --color-light-bg: #fafafa;
  --color-light-border: #eeeeee;
}
